.youtube-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease;
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 50%;
  max-width: 50%;
  transition: transform 0.3s ease;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.prev-btn {
  left: 0;
  font-size: 37px;
}

.next-btn {
  right: 0;
  font-size: 37px;
}

.video-item.active {
  transform: translateX(-100%);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 1px solid red;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .video-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .prev-btn,
  .next-btn {
    top: 35%;
    width: 43px;
    font-size: 37px;
  }
}
